<div class="border-t shadow-md border-redText">
	<div class="p-2 flex justify-between items-center mx-20">
		<div>
			<p>+39 392 321 52 52</p>
			<p>Tutti i diritti riservati - Pizzeria Vesuvio</p>
		</div>
		<ul>
			<li class="text-greyAccent"><span class="text-black">settimana:</span> 12:00 - 15:30 / 18:00 - 22:30</li>
			<li class="text-greyAccent"><span class="text-black">weekend:</span> 12:00 - 15:30 / 18:00 - 23:30</li>
		</ul>
	</div>
</div>